# Chaves de API (preencha a que for utilizar ou informe via interface do Dita-eu)
GROQ_API_KEY=
GEMINI_API_KEY=
GEMINI_MODEL=gemini-flash-latest

# Configurações de Atalho e Idioma
TRIGGER_KEY=f8
LANGUAGE=pt-BR
HUD_BOTTOM_OFFSET=350
THEME=dark
